.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 48, 48);

  /* Full height */
  height: 100%;

}

.form-container{
  background-color: rgb(36,36,36);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  
  padding-left: 7rem;
  padding-right: 7rem;
  filter: none;
  width: auto;
}

.registration-form, .login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
  padding: 0.25rem 0;
}

.input{
  margin: 0.5rem;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
}

.formHeader{
  color: lightblue;
  font-size: 55px;
  font-weight: 500;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 250px;
  margin-top: 10px;
}

.button{
  border: none;
  background-color: white;
  padding: 13px;
  border-radius: 7px;
  cursor: pointer;
  margin: 0.5rem;
}

.errmessage{
  color:red;
}

.offscreen{
  display: none;
}

/* .button-container>:first-child{
  margin-top: 1em;
} */
