.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #505251;
  }

  .logo-container {
    display: flex;
    align-items: left;
  }

  .logo{
    height: 50px;
    width: 150px;
  }

  .searchbar-container {
    position: left;
    /* margin-left: 100px; */
  }

  .logout-container {
    text-align: right;
  }