.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #505251;
  }

  .logo-container {
    display: flex;;
    align-items: left;
  }

  .logo{
    height: 50px;
    width: 150px;
  }

  .search {
    flex: 2;
    margin: 0 20px;
  }

  .logout {
    flex: 1;
    text-align: right;
  }