.music-grid {
  flex-direction: column;
}

.scrollable{
  overflow: scroll;
  height: 80vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none;
}
