.music-grid{
	overflow-y: scroll;
	height: 82vh;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.music-grid::-webkit-scrollbar {
  display: none;
}