.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #505251;
  }
  
  .logo {
    flex: 1;
  }
  
  .search {
    flex: 2;
    margin: 0 20px;
  }
  
  .login {
    flex: 1;
    text-align: right;
  }