* {
    box-sizing: border-box;
  }
  

  body {
    background-color: #581d1d;
    color: aliceblue;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
  }
  
 
  .content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    flex: 0 0 15%;
    max-width: 15%;
    border-right: 1px solid #551414;
    padding: 1rem;
    font-size: 20px   ;
  }
  
  .music-grid {
    flex: 0 0 85%;
    max-width: 85%;
    background: #140303;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .music-item {
    flex: 0 0 calc(33.33% - 20px);
    border: 1px solid #462b2b;
    padding: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  